@font-face {
  font-family: 'Manrope';
  font-weight: 700;
  src: local('Manrope'), url(Manrope-Bold.ttf) format('ttf');
}

@font-face {
  font-family: 'Manrope';
  font-weight: 800;
  src: local('Manrope'), url(Manrope-ExtraBold.ttf) format('ttf');
}

@font-face {
  font-family: 'Manrope';
  font-weight: 200;
  src: local('Manrope'), url(Manrope-ExtraLight.ttf) format('ttf');
}

@font-face {
  font-family: 'Manrope';
  font-weight: 300;
  src: local('Manrope'), url(Manrope-Light.ttf) format('ttf');
}

@font-face {
  font-family: 'Manrope';
  font-weight: 500;
  src: local('Manrope'), url(Manrope-Medium.ttf) format('ttf');
}

@font-face {
  font-family: 'Manrope';
  font-weight: 400;
  src: local('Manrope'), url(Manrope-Regular.ttf) format('ttf');
}

@font-face {
  font-family: 'Manrope';
  font-weight: 600;
  src: local('Manrope'), url(Manrope-SemiBold.ttf) format('ttf');
}
