.note-container {
  padding: 20px;
  margin: 15px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border-color: white;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.note-container:after {
  animation: animate 2s linear;
}

.note-body {
  border: none;
  margin: 10px 0;
  font-size: 16px;
  min-height: 10vh;
}

.bin-icon {
  height: 15px;
  width: 15px;
  border: 1px solid #FF6666;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  align-self: self-end;
  opacity: 0;
}

.note-container:hover .bin-icon {
  opacity: 1;
}